
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.hamburger{
  z-index: 5000;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.hamburgerline-top, .hamburgerline-center, .hamburgerline-bottom{
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
}

.menu{
  z-index: 4000;
  position: fixed;
  height: 0;
  width: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 50vh;
  left: 50vw;
  transition: 500ms ease;
}

.menu-visible{
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.menu a, .menu p{
  font-size: 48px;
  color: white;
  text-decoration: none;
  transition: 5ms ease;
  cursor: pointer;
}

.menu a:hover{
  color: yellow;
}

.loading-screen{
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.loading-screen-titles{
  margin-top:50px;
}

.loading-screen-titles h1{
  text-align: center;
  margin: 5px 0;
}

.loading-screen-titles h2{
  text-align: center;
  margin: 5px 0;
  font-weight: 400;
}

.loading-screen-instructions{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.loading-screen-instructions div{
  margin: 50px;
  width: auto;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-screen-next{
  margin-bottom: 100px;
}

.loading-screen-next-button{
  display: none;
  height: 50px;
  padding: 0 20px;
  border: 1px solid white;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  transition: 500ms ease;
  font-size: 16px;
}

.loading-screen-next-button:hover{
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.scene-is-loaded .loading-screen-next-button{
  display: block;
}

.loading-spinner{
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}

.loading-spinner p{
    line-height: 30px;
    height: 30px;
    margin: 0 0 0 10px;
}

.scene-is-loaded .loading-spinner{
  display: none;
}

.info-wrapper{
  z-index: 1000;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  transition: 200ms ease;
  padding: 0px 20px;
  overflow: hidden;
}

.info-panel{
  height: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 200ms ease;
}

.visible{
  padding: 10px 0;
  height: auto;
}

.moreless{
  height: 40px;
  width: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.barhorizontal{
  height: 2px;
  width: 20px;
  background-color: white;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barvertical{
  height: 20px;
  width: 2px;
  background-color: white;
  transition: 500ms ease;
}

.rot45{
  transform: rotate(90deg);
}

.project-title{
  font-size: 20px;
  font-weight: 800;
  color: white;
  padding: 0;
  margin: 0;
}
.student{
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding: 0;
  margin: 0;
}

.description{
  color: white;
  height: 0;
  display: none;
  padding-bottom: 40px;
}

.project-link{
  color: white;
  text-decoration: underline;
}

.descriptionVisible{
  display: block;
  height: 400px;
  overflow-y: scroll;
}

.a-loader-title{
  background-color: black;
}

#np{
  border-radius: 100%;
  background-color: none;
  border: 1px solid white;
  color: none;
}
#np p{
  display: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen (max-width: 400) {
  .loading-screen-instructions{
    flex-direction: column;
  }
}
